name: Express App CI/CD

on:
  push:
    branches:
      - main   # change if you use another branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd ~/backends/expressapp
            git pull origin main
            npm install
            pm2 restart index || pm2 start index.js --name index
            pm2 save
